.printUser {
  font-family: sans-serif;
  text-align: center;
}
.printUser h1 {
  font-size: 30px;
  margin-bottom: 80px;
}
.printUser label {
  float: left;
  display: block;
  color: rgb(0, 102, 255);
  margin-left: 450px;
}
.printUser input, .printUser textarea, .printUser select {
  width: 30%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  margin-left: 600px;
}
.IN button{
  background: rgb(0, 132, 255);
  color: white;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 100px;
}
.HUY button{
  background: rgba(0, 0, 0, 0.384);
  color: white;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 100px;
}

.profileUser {
  font-family: sans-serif;
  text-align: center;
}
.profileUser h1 {
  font-size: 30px;
  margin-bottom: 80px;
}
.profileUser label {
  float: left;
  display: block;
  color: rgb(0, 102, 255);
  
}
.profileUser input, .profileUser textarea, .profileUser select {
  width: 30%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  margin-left: 800px;
}

.LUU button{
  background: rgb(0, 132, 255);
  color: white;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 100px;
}

.image12 {
  border-style: ridge;
  width: 400px;
  height: 300px;
  padding: 0 30px;
  float: left;
  margin-left: 150px;
  margin-right: 100px;
}

.image12 img {
  max-width: 100%;
  height: 220px;
}